@page "/discord"
@using LeagueManager.Services
@inject MainService MainService
@rendermode InteractiveServer

<PageTitle>Discord</PageTitle>

<h1>Discord</h1>

<button class="btn btn-primary" @onclick="UpdatePlayerRole">Update Player Role</button>
<button class="btn btn-primary" @onclick="UpdateMissingDiscordIds">Update Discord Ids</button>
<button class="btn btn-primary" @onclick="SendReviewSchedule">Send Review Schedule</button>


@code {
    private async void UpdateMissingDiscordIds()
    {
            await MainService.FetchMissingDiscordIds();
    }


    private async void SendReviewSchedule()
    {
        await MainService.SendReviewSchedule();
    }

    private async void UpdatePlayerRole()
    {
            await MainService.UpdateDiscordPlayerRole();
    }

    private async void SyncPlayers()
    {
            await MainService.UpdatePlayers();
    }

}
