@page "/discord"
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Discord</PageTitle>

<h1>Discord</h1>

<p role="status">@message</p>

<button class="btn btn-primary" @onclick="UpdatePlayerRole">Update Player Role</button>
<button class="btn btn-primary" @onclick="UpdateMissingDiscordIds">Update Discord Ids</button>

@code {
    private string message = "Loading...";

    private async void UpdateMissingDiscordIds()
    {
        try
        {

            await MainService.FetchMissingDiscordIds();
        }
        catch (Exception e)
        {
            message = "Error";
        }
    }

    private async void UpdatePlayerRole()
    {
        try
        {

            await MainService.UpdateDiscordPlayerRole();
        }
        catch (Exception e)
        {
            message = "Error";
        }
    }
    private async void SyncPlayers()
    {
        try
        {

            await MainService.UpdatePlayers();
        }
        catch (Exception e)
        {
            message = "Error";
        }
    }
}
