@page "/notifications"
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Notifications</PageTitle>

<h1>Sync</h1>

<p role="status">@message</p>

<button class="btn btn-primary" @onclick="SendNotification">Test Notification</button>
<button class="btn btn-primary" @onclick="SendRoundStartNotification">Round Start Notification</button>

@code {
    private string message = "Loading...";
    private async void SendNotification()
    {
        try
        {

            await MainService.SendUpcomingMatchesNotification();
        }
        catch (Exception e)
        {
            message = "Error";
        }
    }
    private async void SendRoundStartNotification()
    {
        try
        {

            await MainService.SendRoundStartNotification();
        }
        catch (Exception e)
        {
            message = "Error";
        }
    }
    
}
