@page "/notifications"
@using LeagueManager.ViewModel
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Notifications</PageTitle>

<h1>Sync</h1>

<p role="status">@_message</p>


<button class="btn btn-primary" @onclick="SendNotification">Test Notification</button>


<div class="grid-container">
    <EditForm Model="@_notificationModel">
        <DateTimeInput TValue="DateTime?" @bind-Value="_notificationModel.Deadline"></DateTimeInput>
        <InputNumber @bind-Value="_notificationModel.Round" />
        <button type="button" @onclick="SendRoundStartNotification">Send</button>
    </EditForm>
</div>

@code {

    private NotificationViewModel _notificationModel = new();
    private string _message = "Loading...";
    private async Task SendNotification()
    {
        try
        {

            await MainService.SendMissingPaymentsEmail();
        }
        catch (Exception e)
        {
            _message = "Error";
        }
    }
    private async Task SendRoundStartNotification()
    {
        try
        {

            await MainService.SendRoundStartNotification(_notificationModel.Round, _notificationModel.Deadline.GetValueOrDefault());
        }
        catch (Exception e)
        {
            _message = "Error";
        }
    }
    
}
