@page "/orders"
@using LeagueManager.Services
@using Shared.Dto
@inject MainService MainService
@rendermode InteractiveServer

<PageTitle>Orders</PageTitle>

<h1>Orders</h1>


<InputFile OnChange="OnFileUploaded"/>


<button class="btn btn-primary" @onclick="GetMissingPayments">Get Missing Payments</button>

<HxGrid @ref="_missingRegistrationsGrid" TItem="PaymentDataDto"
        DataProvider="GetGridData"
        MultiSelectionEnabled="true" PageSize="300" Responsive="true">
    <Columns>
        <HxGridColumn HeaderText="Player" ItemTextSelector="rev => rev.BillingName"/>
        <HxGridColumn HeaderText="Billing Mail" ItemTextSelector="rev => rev.BillingEmail"/>
        <HxGridColumn HeaderText="User Mail" ItemTextSelector="rev => rev.UserEmail"/>
        <HxGridColumn HeaderText="Go Magic Id" ItemTextSelector="rev => rev.UserId.ToString()"/>
    </Columns>
</HxGrid>


<p role="status">@_missingpayments</p>

@code {
    private HxGrid<PaymentDataDto> _missingRegistrationsGrid;
    private IEnumerable<PaymentDataDto> _missingPayments;
    private string _missingpayments = "...";

    private async void GetMissingPayments()
    {
        var resMp = await MainService.GetMissingPayments();

        _missingpayments = string.Join("; ", resMp.Select(pl => pl.EmailAddress));
    }


    private Task<GridDataProviderResult<PaymentDataDto>> GetGridData(GridDataProviderRequest<PaymentDataDto> request)
    {
        return Task.FromResult(request.ApplyTo(_missingPayments));
    }

    private async void OnFileUploaded(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file is not null)
        {
            using var stream = file.OpenReadStream(10_000_000); // 10 MB limit
            var result = await MainService.UploadOrdersFile(stream);

            _missingPayments = result.MissingRegistrations.Concat(result.NoMatches);
            await _missingRegistrationsGrid.RefreshDataAsync();
        }
    }

}
