@page "/orders"
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Orders</PageTitle>

<h1>Orders</h1>

<p role="status">@_message</p>

<InputFile OnChange="OnFileUploaded" />


<button class="btn btn-primary" @onclick="GetMissingPayments">Get Missing Payments</button>


<p role="status">@_missingpayments</p>

@code {
    private string _message = "Loading...";
    private string _missingpayments = "...";

    private async  void GetMissingPayments()
    {
        var resMp = await MainService.GetMissingPayments();

        _missingpayments = string.Join("; ", resMp.Select(pl => pl.EmailAddress));
    }

    private async void OnFileUploaded(InputFileChangeEventArgs e)
    {
        try
        {

            var file = e.File;
            if (file is not null)
            {
                using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000); // 10 MB limit
                var result = await MainService.UploadOrdersFile(stream);

                _message = result ? "Upload successful!" : "Upload failed.";
            }
        }
        catch (Exception ex)
        {
            _message = "Error";
        }
    }
}
