@page "/players"
@using LeagueManager.ViewModel
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Players</PageTitle>

<h1>Players</h1>


<div class="grid-container">
    <div class="grid-item">
        <button class="btn btn-primary" @onclick="AddReviewToSelectedPlayer">Add Review</button>
    </div>

</div>

<HxGrid @ref="_playersGrid" TItem="PlayerViewModel" DataProvider="GetPlayersGridData"
        SelectedDataItem="_selectedPlayer"
        SelectedDataItemChanged="HandleSelectePlayerChanged"
        MultiSelectionEnabled="true" PageSize="500" Responsive="true" >
    <Columns>
        <HxGridColumn HeaderText="First Name" ItemTextSelector="rev => rev.FirstName" />
        <HxGridColumn HeaderText="Last Name" ItemTextSelector="rev => rev.LastName" />
    </Columns>
</HxGrid>

@code {

    private HxGrid<PlayerViewModel> _playersGrid;
    private List<PlayerViewModel>? _playersList;
    private HashSet<PlayerViewModel>? _selectedPlayers;
    private PlayerViewModel? _selectedPlayer;
    private string _message = "Loading...";


    private async Task HandleSelectePlayerChanged(PlayerViewModel newSelectedDataItem)
    {
        if (_selectedPlayer != null)
        {
            // save the changes to original selectedDataItem first
            await MainService.SavePlayerChanges(new List<PlayerViewModel>() { _selectedPlayer });
        }
        // update selectedDataItem to new selection
        _selectedPlayer = newSelectedDataItem;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    private async Task AddReviewToSelectedPlayer()
    {

        if (_selectedPlayer != null)
        {
            await MainService.AddReviewToPlayer(_selectedPlayer);
        }
    }

    private async Task<GridDataProviderResult<PlayerViewModel>> GetPlayersGridData(GridDataProviderRequest<PlayerViewModel> request)
    {
        var response = await MainService.GetPlayers(request.StartIndex, request.Count, request.CancellationToken);
        return new GridDataProviderResult<PlayerViewModel>()
        {
            Data = response,
            TotalCount = response.Count
        };
    }
    private async void RefreshPlayersGrid()
    {
        try
        {
            if (_playersGrid == null)
                return;
            await _playersGrid.RefreshDataAsync();
        }
        catch (Exception e)
        {
            _message = "Error";
        }
    }
}
