@page "/reviews"
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Reviews</PageTitle>

<h1>Reviews</h1>

<p role="status">@message</p>

<button class="btn btn-primary" @onclick="GenerateReviews">Generate Reviews</button>
<button class="btn btn-primary" @onclick="LinkReviewMatches">Link Review Matches</button>

@code {
    private string message = "Loading...";

    private async void LinkReviewMatches()
    {
        await MainService.LinkReviewMatches();
    }

    private async void GenerateReviews()
    {
        try
        {

            await MainService.BuildReviews();
        }
        catch (Exception e)
        {
            message = "Error";
        }
    }
}
