@page "/sync"
@inject Services.MainService MainService
@rendermode InteractiveServer

<PageTitle>Sync</PageTitle>

<h1>Sync</h1>

<p role="status">@_message</p>

<button class="btn btn-primary" @onclick="SyncPlayers">Sync Players</button>
<button class="btn btn-primary" @onclick="SyncMatches">Sync Matches</button>
<button class="btn btn-primary" @onclick="CheckOgsRanks">Check Ranks</button>

@code {
    private string _message = "Loading...";
    
    private async void SyncMatches()
    {
        try
        {

            await MainService.SyncMatches();
        }
        catch (Exception e)
        {
            _message = "Error";
        }
    }
    private async void SyncPlayers()
    {
        try
        {

            await MainService.UpdatePlayers();
        }
        catch (Exception e)
        {
            _message = "Error";
        }
    }
    private async void CheckOgsRanks()
    {
        try
        {
            await MainService.CheckRanks();
        }
        catch (Exception e)
        {
            _message = "Error";
        }
    }
}
