@page "/sync"
@using LeagueManager.Services
@using Shared.Dto.OGS
@inject MainService MainService
@rendermode InteractiveServer

<PageTitle>Sync</PageTitle>

<h1>Sync</h1>

<button class="btn btn-primary" @onclick="SyncMatches">Sync Matches</button>
<button class="btn btn-primary" @onclick="CheckOgsRanks">Check Ranks</button>

<HxGrid @ref="_checkRankGrid" TItem="CheckRankDto"
        DataProvider="GetGridData"
        MultiSelectionEnabled="true" PageSize="300" Responsive="true">
    <Columns>
        <HxGridColumn HeaderText="Player" ItemTextSelector="rev => rev.Player.FirstName + ' ' + rev.Player.LastName"/>
        <HxGridColumn HeaderText="Rank" ItemTextSelector="rev => rev.Player.Rank.ToString()"/>
        <HxGridColumn HeaderText="OGSRank" ItemTextSelector="rev => (30 - rev.OgsRank).ToString()"/>
        <HxGridColumn HeaderText="OGSProfile" ItemTextSelector="pl => pl.Player.OgsHandle"></HxGridColumn>
    </Columns>
</HxGrid>

@code {
    private HxGrid<CheckRankDto> _checkRankGrid;
    private IEnumerable<CheckRankDto> _checkRankResults;

    private Task<GridDataProviderResult<CheckRankDto>> GetGridData(GridDataProviderRequest<CheckRankDto> request)
    {
        return Task.FromResult(request.ApplyTo(_checkRankResults));
    }

    private async void SyncMatches()
    {
            await MainService.SyncMatches();
    }


    private async void CheckOgsRanks()
    {
            _checkRankResults = await MainService.CheckRanks();
            await _checkRankGrid.RefreshDataAsync();
    }

}
